body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
}

.outerContainer {
      margin-top: 20px;
      margin-bottom: 20px;
      border: 1px solid rgb(134, 132, 132);
      padding: 10px;
      width: 400px;
      border-radius: 10px;
}




